@import '~antd/dist/antd.css';

@font-face {
  font-family: "vazir";
  src: url("./assets/fonts/Vazir.eot");
  src: url("./assets/fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Vazir.woff") format("woff"), url("./assets/fonts/Vazir.ttf") format("truetype"), url("./assets/fonts/Vazir.woff2") format("woff2");
  font-weight: "normal";
  font-style: 'normal';
}

@font-face {
  font-family: "vazir";
  src: url("./assets/fonts/Vazir-Bold.eot");
  src: url("./assets/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Vazir-Bold.woff") format("woff"), url("./assets/fonts/Vazir-Bold.ttf") format("truetype"), url("./assets/fonts/Vazir-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: 'normal';
}

@font-face {
  font-family: "vazir";
  src: url("./assets/fonts/Vazir-Light.eot");
  src: url("./assets/fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Vazir-Light.woff") format("woff"), url("./assets/fonts/Vazir-Light.ttf") format("truetype"), url("./assets/fonts/Vazir-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: 'normal';
}

html {
  background-size: cover;
}

body {
  font-family: 'vazir', 'tahoma', 'sans';
}

img {
  width: 100%;
}

#root {
  height: 100%;
}

.body {
  min-height: 100%;
  height: 100%;
  height: auto;
}

.page {
  min-height: 100%;
  height: 100%;
  height: auto;
}

/* Singin Page */
.page.signin,
.page.signup {
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  color: lightslategray;
  font-size: 11px;
}

.languages a {
  padding: 10px;
}

.languages a:link,
.languages a:visited {
  color: lightslategray;
}

.page.signin .plate,
.page.signup .plate {
  background-color: #fff;
  border: 1px solid rgb(221, 236, 248);
}

.page.signin .plate img,
.page.signup .plate img {
  border-bottom: 5px solid #f2f2f2;
  border-radius: 5px;
}

.page.signup .plate .form,
.page.signin .plate .form {
  padding: 16px;
}

/* Profile Page */
.page.profile {
  background-color: #f7f7f7;
}



/* Desktop */
@media (min-width: 1025px) {}

/* Tablet and bigger*/
@media (min-width: 768px) {

  .page.signin .plate,
  .page.signup .plate {
    width: 400px;
    border-radius: 5px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {

  .page.signin .plate,
  .page.signup .plate {
    width: 60%;
    border-radius: 0px;
  }

}

/* Mobile */
@media (max-width: 768px) {

  .page.signin .plate img,
  .page.signup .plate img {
    border-radius: 0px;
  }

  .page.signin .plate,
  .page.signup .plate {
    width: 100%;
    border-radius: 0px;
  }
}